# IDEs and text editors
.idea
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.DS_Store
.vscode

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# Virtual environments
/.env/
/.venv/
/env/
/venv/
/ENV/
/VENV/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.coverage.*
coverage.xml
.cache
nosetests.xml
.hypothesis/
.pytest_cache/

# Compiled code
*.pyc
__pycache__

# Other files
*~
*.bak
*.log
*.lock
!poetry.lock
*.pid
*.socket
/.local/

# Preserve .gitkeep files
!.gitkeep
