repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        language_version: "python3.14"
        additional_dependencies:
          - "flake8-annotations>=3.2.0,<3.3.0"
          - "flake8-bas>=1.0.0"
          - "flake8-blind-except>=0.2.1,<0.3.0"
          - "flake8-builtins>=2.1.0,<3.0.0"
          - "flake8-eradicate>=1.4.0,<2.0.0"
          - "flake8-import-order>=0.18.2,<0.19.0"
          - "pep8-naming>=0.13.3,<0.14.0"
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        pass_filenames: false
        additional_dependencies:
          - "setuptools"
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ["-q", "--exclude=tests/,.github/"]
        require_serial: true
  - repo: https://github.com/yunojuno/pre-commit-xenon
    rev: v0.1
    hooks:
      - id: xenon
        args: ["--max-modules=C", "--max-absolute=C", "--exclude=tests/*"]
