name: Compatibility tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1,5'

concurrency:
  group: compatibility_tests-${{ github.ref }}
  cancel-in-progress: true

env:
  COVERAGE_RESULT: ./coverage.xml
  POETRY_VERSION: '1.7.1'
  PACKAGE_NAME: 'flake8_bas'
  SELF: tests.yml
  UTILS: ./.github/workflows/utils.py

jobs:
  compatibility:
    name: Latest Flake8
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Dump workflow context
        uses: crazy-max/ghaction-dump-context@v1

      - name: Git checkout
        uses: actions/checkout@v4

      - name: Python setup
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Setup of a local directory
        run: mkdir ./.local

      - name: Poetry installation
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Poetry setup
        run: |
          poetry config virtualenvs.create true

      - name: Package installation
        run: |
          poetry add --lock "flake8==*"
          poetry install --sync --no-interaction --without dev,test
          echo -e "\nFlake8 version: $(poetry run flake8 --version)"
