name: Quality checks

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - ready_for_review
      - synchronize

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

env:
  COVERAGE_RESULT: ./coverage.xml
  POETRY_VERSION: '1.3.2'
  # This Python version must match the one in .pre-commit-config.yaml
  PYTHON_VERSION: '3.10'
  PACKAGE_NAME: 'flake8_bas'
  SELF: tests.yml
  UTILS: ./.github/workflows/utils.py

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Dump workflow context
        uses: crazy-max/ghaction-dump-context@v1

      - name: Git checkout
        uses: actions/checkout@v3

      - name: Result cache
        id: result-cache
        uses: actions/cache@v3
        with:
          path: ./.local/result_cache
          key: >-
            ${{ github.job }}-result-${{ env.PYTHON_VERSION }}-${{ github.ref }}-${{
              hashFiles(
                format('.github/workflows/{0}', env.SELF),
                format('{0}/**.py', env.PACKAGE_NAME),
                'tests/**',
                'poetry.lock',
                '.pre-commit-config.yaml',
                'setup.cfg'
              )
            }}

      - name: Python setup
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Run
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: pre-commit/action@v3.0.0

  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Dump workflow context
        uses: crazy-max/ghaction-dump-context@v1

      - name: Git checkout
        uses: actions/checkout@v3

      - name: Result cache
        id: result-cache
        uses: actions/cache@v3
        with:
          path: ./.local/result_cache
          key: >-
            ${{ github.job }}-result-${{ env.PYTHON_VERSION }}-${{ github.ref }}-${{
              hashFiles(
                format('.github/workflows/{0}', env.SELF),
                format('{0}/**.py', env.PACKAGE_NAME),
                'tests/**',
                'poetry.lock'
              )
            }}

      - name: Python setup
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup of a local directory
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: mkdir ./.local && touch ./.local/result_cache

      - name: Virtualenvs cache
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ github.job }}-poetry-${{ env.PYTHON_VERSION }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ github.job }}-poetry-${{ env.PYTHON_VERSION }}-

      - name: Poetry installation
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Poetry setup
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: |
          poetry config virtualenvs.create true
          poetry config experimental.new-installer false

      - name: Package installation
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: poetry install --remove-untracked --no-interaction --without dev

      - name: Run
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: >-
          poetry run pytest
          --tb=short
          --cov=${{ env.PACKAGE_NAME }}
          --cov-report=xml:${{ env.COVERAGE_RESULT }}
          --cov-report=term
          ./tests/

      - name: Store the test coverage result
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: ${{ env.COVERAGE_RESULT }}
          retention-days: 90

      - name: Add coverage into job's summary
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: >-
          poetry run ${{ env.UTILS }} coverage-summary
          --coverage_file="${GITHUB_WORKSPACE}/${{ env.COVERAGE_RESULT }}"

  compatibility:
    name: Compatibility tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Version 5.0.0 of Flake8 is buggy and would output duplicate errors
        flake8: ['3.8.0', '4.0.0', '5.0.1', '*']
        python: ['3.8', '3.9', '3.10', '3.11']
    steps:
      - name: Dump workflow context
        uses: crazy-max/ghaction-dump-context@v1

      - name: Git checkout
        uses: actions/checkout@v3

      - name: Result cache
        id: result-cache
        uses: actions/cache@v3
        with:
          path: ./.local/result_cache
          key: >-
            ${{ github.job }}-result-${{ matrix.python }}-${{ matrix.flake8 }}-${{ github.ref }}-${{
              hashFiles(
                format('.github/workflows/{0}', env.SELF),
                format('{0}/**.py', env.PACKAGE_NAME),
                'tests/**',
                'poetry.lock'
              )
            }}

      - name: Python setup
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Setup of a local directory
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: mkdir ./.local && touch ./.local/result_cache

      - name: Virtualenvs cache
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ github.job }}-poetry-$${{ matrix.python }}-$${{ matrix.flake8 }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ github.job }}-poetry-$${{ matrix.python }}-$${{ matrix.flake8 }}-

      - name: Poetry installation
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Poetry setup
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: |
          poetry config virtualenvs.create true
          poetry config experimental.new-installer false

      - name: Package installation
        if: (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch')
        run: |
          poetry add --lock "flake8==${{ matrix.flake8 }}"
          poetry install --remove-untracked --no-interaction --without dev,tests
          echo -e "\nFlake8 version: $(poetry run flake8 --version)"

      - name: Run (Python <3.10)
        if: >-
          (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch') &&
          (matrix.python == '3.8' || matrix.python == '3.9')
        run: >-
          poetry run flake8 --isolated --select=BAS --exclude='*match*.py' ./tests/fixtures/*/* |
          poetry run ${{ env.UTILS }} assert-error-count --directory=./tests/fixtures/invalid --exclude='.*match.*'

      - name: Run (Python >=3.10)
        if: >-
          (steps.result-cache.outputs.cache-hit != 'true' || github.event_name == 'workflow_dispatch') &&
          matrix.python != '3.8' && matrix.python != '3.9'
        run: >-
          poetry run flake8 --isolated --select=BAS ./tests/fixtures/*/* |
          poetry run ${{ env.UTILS }} assert-error-count --directory=./tests/fixtures/invalid
